<!DOCTYPE html>
@model CloudHRMS.Models.ViewModels.DailyAttendanceViewModel;
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Attendance Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-center">Daily Attendance Form</h2>

        @if (TempData["Msg"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Msg"]
            </div>
        }
        <form action="/dailyAttendance/entry" method="post">
            <div class="form-group">
                <label for="name">AttendanceDate</label>
                <input type="date" class="form-control" id="attendanceDate" name="attendanceDate" placeholder="Enter the name of AttendancePolicy" required>
            </div>

            <div class="form-group">
                <label for="numberOfLateTime">In Time</label>
                <input type="time" class="form-control" id="inTime" name="inTime" placeholder="Enter In Time" required>
            </div>

            <div class="form-group">
                <label for="numberOfEarlyOutTime">Out Time</label>
                <input type="time" class="form-control" id="outTime" name="outTime" placeholder="Enter Out Time" required>
            </div>
            <div class="form-group">
                <label for="departments" class="form-label">Department </label>

                <select class="form-select" name="departmentId" id="departmentId">
                    <option class="form-select" value="" selected>-- SELECT ONE --</option>
                    @foreach (var item in Model.Departments)
                    {

                        <option class="form-select" value="@item.Id">@(item.Code + "-" + item.Description)</option>

                    }
                </select>
                <div class="form-group">
                    <label for="name">Employee </label>
                    <input type="date" class="form-control" id="attendanceDate" name="attendanceDate" placeholder="Enter the name of AttendancePolicy" required>
                </div>
            </div>
            <div class="form-group">
                <label for="employees" class="form-label">Employee </label>

                <select class="form-select" name="employeeId" id="employeeId">
                    <option class="form-select" value="" selected>-- SELECT ONE --</option>
                    @foreach (var item in Model.Employees)
                    {

                        <option class="form-select" value="@item.Id">@(item.Code + "-" + item.Name)</option>

                    }
                </select>

            </div>
            <!-- -->
            
            <button type="submit" class="btn btn-primary" style="border-color: #00008B; background-color: #00008B;">Entry</button>
            <button type="reset" class="btn btn-primary" style="border-color: #dc3545; background-color: #dc3545;">Cancel</button>
        </form>
    </div>


</body>
</html>
<script>
    $('#departmentId').on('click',function(){
            var url = '/dailyAttendance/getEmployeeList';
			var departmentId = $('#departmentId').val();
            $.get(url,departmentId,function(res){
				console.log("Okay");
            });
        });
</script>
