@model IList<CloudHRMS.Models.ViewModels.EmployeeViewModel>  //declare employee view model from Controller to display data in view
<h1>Employee List Information</h1>
@if (TempData["Msg"] != null) //display message after action
{
	<div class="alert alert-success" role="alert">
		@TempData["Msg"]
	</div>
}
<table class="table" style="color:darkblue" border="3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">DOB</th>
            <th scope="col">DOE</th>
            <th scope="col">DOR</th>
            <th scope="col">Basic Salary(MMK)</th>
            <th scope="col">Phone no</th>
            <th scope="col">Address</th> <!--Stakeholder-->
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@(Model.IndexOf(item)+1)</th>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Gender</td>
                <td>@item.DOB.ToString("yyyy-MM-dd")</td>
                <td>@item.DOE.ToString("yyyy-MM-dd")</td>
                <td>@item.DOR</td>
                <td>@item.BasicSalary</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
                <td>
                    <a href="">Edit</a>
                    <a href="/employee/deletebyid?id=@item.Id" role="button" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record?')">Delete</a></td>
            </tr>
        }                
    </tbody>
</table>