@model IList<CloudHRMS.Models.ViewModels.PositionViewModel>
@if(TempData["Msg"] != null)
{
    <div class="container mt-5">
    <!-- Success Alert -->
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>@TempData["Msg"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}
<div class="container mt-5">
    <h3 class="text-center mb-4 text-primary">Position List</h3>
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col">Level</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@(Model.IndexOf(item) + 1)</th>
                    <td>@item.Code</td>
                    <td>@item.Description</td>
                    <td>@item.Level</td>
                    <td>
                        <a href="/position/edit?id=@item.Id" role="button" class="btn btn-primary btn-sm me-2">Edit</a>
                        <a href="/position/deletebyid?id=@item.Id" role="button" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete this record?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
