<!DOCTYPE html>
@model CloudHRMS.Models.ViewModels.AttendancePolicyViewModel;
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Policy Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-center">AttendancePolicy Form</h2>

        @if (TempData["Msg"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Msg"]
            </div>
        }
        <form action="/attendancePolicy/update" method="post">
            <input type="hidden" class="form-control" id="id" name="id" value="@Model.Id" required>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter the name of AttendancePolicy" value="@Model.Name" required>
            </div>

            <div class="form-group">
                <label for="numberOfLateTime">Number Of Late Time</label>
                <input type="number" class="form-control" id="numberOfLateTime" name="numberOfLateTime" placeholder="Enter the Number Of Late Time" value="@Model.NumberOfLateTime" required>
            </div>

            <div class="form-group">
                <label for="numberOfEarlyOutTime">Number Of EarlyOut Time</label>
                <input type="number" class="form-control" id="numberOfEarlyOutTime" name="numberOfEarlyOutTime" placeholder="Enter the Number Of EarlyOut Time" value="@Model.NumberOfEarlyOutTime" required>
            </div>
            <div class="form-group">
                <label for="DeductionInAmount">Deduction In Amount</label>
                <input type="number" class="form-control" id="DeductionInAmount" name="DeductionInAmount" placeholder="Enter the Deduction In Amount" value="@Model.DeductionInAmount" required>
            </div><div class="form-group">
                <label for="deductionInDay">DeductionInDay</label>
                <input type="number" class="form-control" id="deductionInDay" name="deductionInDay" placeholder="Enter the Deduction In Day" value="@Model.DeductionInDay" required>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/attendancePolicy/List" role="button" class="btn btn-primary">Cancel</a>
        </form>
    </div>


</body>
</html>